# 排序

In [38]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [2]:
s = Series([1,2,3,4,5,6,7,8,9], index=['a','b','c','d','e','f','g','h','i'])
s

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [3]:
s.sort_index()

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [4]:
s.sort_index(ascending=False)

i    9
h    8
g    7
f    6
e    5
d    4
c    3
b    2
a    1
dtype: int64

In [7]:
s.sort_values()

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [14]:
df = DataFrame(np.random.rand(30).reshape(5,6))
df

          0         1         2         3         4         5
0  0.607429  0.785784  0.431967  0.520277  0.313813  0.934551
1  0.692599  0.152252  0.002561  0.759924  0.669620  0.237597
2  0.359188  0.511416  0.988670  0.888591  0.877439  0.110544
3  0.690845  0.919966  0.811186  0.600167  0.744653  0.052244
4  0.671912  0.702555  0.438069  0.030407  0.300120  0.227341

In [16]:
df.sort_index(ascending=False)

          0         1         2         3         4         5
4  0.671912  0.702555  0.438069  0.030407  0.300120  0.227341
3  0.690845  0.919966  0.811186  0.600167  0.744653  0.052244
2  0.359188  0.511416  0.988670  0.888591  0.877439  0.110544
1  0.692599  0.152252  0.002561  0.759924  0.669620  0.237597
0  0.607429  0.785784  0.431967  0.520277  0.313813  0.934551

In [19]:
df.sort_values(by=1)

          0         1         2         3         4         5
1  0.692599  0.152252  0.002561  0.759924  0.669620  0.237597
2  0.359188  0.511416  0.988670  0.888591  0.877439  0.110544
4  0.671912  0.702555  0.438069  0.030407  0.300120  0.227341
0  0.607429  0.785784  0.431967  0.520277  0.313813  0.934551
3  0.690845  0.919966  0.811186  0.600167  0.744653  0.052244

In [21]:
df.sort_values(axis=1, by=1)

          2         1         5         4         0         3
0  0.431967  0.785784  0.934551  0.313813  0.607429  0.520277
1  0.002561  0.152252  0.237597  0.669620  0.692599  0.759924
2  0.988670  0.511416  0.110544  0.877439  0.359188  0.888591
3  0.811186  0.919966  0.052244  0.744653  0.690845  0.600167
4  0.438069  0.702555  0.227341  0.300120  0.671912  0.030407

# 常用统计计算

In [25]:
s.mean()

5.0

In [24]:
df.mean()

0    0.604394
1    0.614395
2    0.534490
3    0.559873
4    0.581129
5    0.312455
dtype: float64

In [26]:
s.max()

9

In [27]:
df.max()

0    0.692599
1    0.919966
2    0.988670
3    0.888591
4    0.877439
5    0.934551
dtype: float64

In [28]:
s.min()

1

In [29]:
df.min()

0    0.359188
1    0.152252
2    0.002561
3    0.030407
4    0.300120
5    0.052244
dtype: float64

In [30]:
s.sum()

45

In [31]:
df.sum()

0    3.021972
1    3.071973
2    2.672452
3    2.799365
4    2.905644
5    1.562277
dtype: float64

In [32]:
s.count()

9

In [33]:
df.count()

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [34]:
s.median()

5.0

In [35]:
df.median()

0    0.671912
1    0.702555
2    0.438069
3    0.600167
4    0.669620
5    0.227341
dtype: float64

In [36]:
df.describe()

              0         1         2         3         4         5
count  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.604394  0.614395  0.534490  0.559873  0.581129  0.312455
std    0.141375  0.297784  0.382621  0.328482  0.261149  0.356486
min    0.359188  0.152252  0.002561  0.030407  0.300120  0.052244
25%    0.607429  0.511416  0.431967  0.520277  0.313813  0.110544
50%    0.671912  0.702555  0.438069  0.600167  0.669620  0.227341
75%    0.690845  0.785784  0.811186  0.759924  0.744653  0.237597
max    0.692599  0.919966  0.988670  0.888591  0.877439  0.934551

# 数据分类

In [37]:
df1 = DataFrame()

In [42]:
df1['product'] = [pd.util.testing.rands(6) for i in range(15)]
df1['price'] = [np.random.randint(1000) for i in range(15)]

In [43]:
df1

   product  price
0   AGRShn    861
1   apnCdC    416
2   w5fFVE    157
3   bvljya    593
4   egAaov    745
5   WIyg9u    488
6   kxAYs5     17
7   FLowu5    160
8   SEVapZ    109
9   y2Drfz    426
10  1Btj3V    927
11  HZeQLv    132
12  apfB0H    343
13  Z6bkYc    869
14  Ues5U3    877

In [48]:
bins = [0,200,400,800,1000]

In [49]:
res = pd.cut(df1['price'], bins)

In [51]:
res

0     (800, 1000]
1      (400, 800]
2        (0, 200]
3      (400, 800]
4      (400, 800]
5      (400, 800]
6        (0, 200]
7        (0, 200]
8        (0, 200]
9      (400, 800]
10    (800, 1000]
11       (0, 200]
12     (200, 400]
13    (800, 1000]
14    (800, 1000]
Name: price, dtype: category
Categories (4, interval[int64]): [(0, 200] < (200, 400] < (400, 800] < (800, 1000]]

In [52]:
res.value_counts()

(400, 800]     5
(0, 200]       5
(800, 1000]    4
(200, 400]     1
Name: price, dtype: int64

In [54]:
res.describe()

count             15
unique             4
top       (400, 800]
freq               5
Name: price, dtype: object